extends layout

block content
    .container.pt-2

        .row 
            .col 
                h3.p-2 Our Purpose: 
                .card.shadow.p-4.d-block
                    span Robot Academy is a project designed at  
                    a(href="https://southernct.edu") Southern Connecticut State University 
                    span in the capstone course for undergraduate computer science majors, CSC-400. The project that our team chose to develop is a web application for teaching robotics simulation through the platform, 
                    a(href="https://www.coppeliarobotics.com/") CoppeliaSim. 
                    span This project was chosen because our team identified a lack of easy-to-digest, beginners web courses on robotics. Additionally, there is substantial evidence that learning robotics at younger ages improves testing performance and introduces children and teenagers to engineering, programming, and the STEM field in general. 
                    span From this analysis of the current field of robotics education, Robot Academy was conceived with the motivation to take a paced and goal-oriented approach to teaching robotics simulation through the free and easy-to-setup software, CoppeliaSim.

        .row.py-4
            .col
                div 
                .my-3.p-2.bg-white.rounded.box-shadow
                    h3.pb-1 Our Developers:

                    div.row.p-2.text-center
                        .col-sm-4.text-center
                            div.m-2.card.p-0.shadow
                                img.img-fluid.card-body.p-0(src='/images/adam.png')
                                h5 Adam Bocco
                                p.text-muted
                                    i Front and back-end development lead
                                    br
                                    i Labs authored: 2, 3, and 5

                        .col-sm-4.text-center
                            div.m-2.card.p-0.shadow
                                img.img-fluid.card-body.p-0(src='/images/tyler.jpg')
                                h5 Tyler Auger
                                p.text-muted

                                    i Labs authored: 1, 4, and 6

                        .col-sm-4.text-center
                            div.m-2.card.p-0.shadow
                                img.img-fluid.card-body.p-0(src='/images/asfa.png')
                                h5 Asfa Anuar
                                p.text-muted
                                    i Labs authored: 7, 8, and 9

