extends layout

block content
    i#labModuleInfo(style="display:none;") #{labName},#{labModule}
    .container 
        div.text-center
            select#labsDropdown.my-3.w-100.p-1.borderless-select.labs-dropdown
        //- div.text-center Modules:
        //-     select#modulesDropdown.my-3.w-100
    .bg-dark.d-flex.justify-content-center
        div#youtubePlayerSection.w-75
    div
        div#videoNavigation.my-3.text-center
    .container
        .row.mb-5
            .col-9
                h5.m-3 Reference: 
                pre.border.bg-light.p-3
                    code#codeSection 
                        
                        
            .col-3
                h5.m-3 Resources: 
                select#resourcesDropdown.my-2
                a#downloadResourcesButton.btn.btn-info.m-2(href="" type="button" download) Download

    script(src='/javascripts/course.js')