extends layout

block content
  div.container.my-3
    div.row
      .col
        h1 Welcome to Robot Academy
        p.text-center.mt-1.pt-3.lead
          | Robot Academy is an educational platform meant to teach the fundamentals of robotics simulation through a user-friendly and intuitive video lab environment. Robotics simulation through the software CopelliaSim offers users free access to robotics development software. Labs consist of short, bite-sized video lessons with resources such as code snippets and the ability to ask for help from the community that will ensure the students of our platform will always be able to keep up with the material. Robot Academy is geared towards students of a variety of ages and skill levels.
      .col
        .card.p-0
          .card-body.p-0.text-center
            img.p-0(src='/images/coppeliasimlogo2.png')
            p.p-3 The robot simulator CoppeliaSim, with integrated development environment, is based on a distributed control architecture: each object/model can be individually controlled via an embedded script, a plugin, a ROS or BlueZero node, a remote API client, or a custom solution. This makes CoppeliaSim very versatile and ideal for multi-robot applications. Controllers can be written in C/C++, Python, Java, Lua, Matlab or Octave. CoppeliaSim is used for fast algorithm development, factory automation simulations, fast prototyping and verification, robotics related education, remote monitoring, safety double-checking, as digital twin, and much more. 
    div.row.box-shadow.mt-3
      div.col
        h4 Get Started:
        div.row
          div.col.card.m-2
            div.card-body
              h4 Create an Account
              a.btn.btn-outline-primary.float-right.m-3.p-2.bg-gray(type='button' href='/users/register') Register
          div.col.card.m-2
            .card-body
              h4 Choose a Lab
              a.btn.btn-outline-primary.float-right.m-3.p-2.bg-gray(type='button' href='/users/dashboard') Dashboard
          div.col.card.m-2
            .card-body
              h4 Connect With Others
              a.btn.btn-outline-primary.float-right.m-3.p-2.bg-gray(type='button' href='/users/communitychat') Community Chat
    div.row.mt-3
      div.col.p-3.text-center.d-flex.align-items-center
        h2.m-2 Why Choose Us?
        p.lead.p-2(style="line-height:2rem;") The purpose of this application is to allow anyone with the desire to learn robotics simulation an entry-point into this field without any prior knowledge or experience. It will also provide an entry-point for those without the means to pursue higher education in this field or the capital to expend on some of the expensive robotics learning applications and robotics simulation software currently on the market.   
      div.col.card.p-0
        img.card-body.p-0(src='/images/welcome.jpg')

    .row 
      .col
          div 
          .my-3.p-2.bg-white.rounded.box-shadow
              h3.pb-1 Features:

              div.row.p-2.text-center
                  .col-sm-4.text-center
                      div.m-2.card.p-0.shadow
                          img.img-fluid.card-body.p-0(src='/images/robotics3.png')
                          h5 Engaging Labs with Bite-Sized Modules
                          p.text-muted
                              i Learn to use a robotic arm to pick and place objects.
                          a.btn.btn-primary(href="/users/course/0/0") Lab
                  .col-sm-4.text-center
                      div.m-2.card.p-0.shadow
                          img.img-fluid.card-body.p-0(src='/images/robotics5.png')
                          h5 User-Friendly Design
                          p.text-muted
                              i Visit your uncluttered and intuitive dashboard.
                          a.btn.btn-primary(href="/users/dashboard") Dashboard
                  .col-sm-4.text-center
                      div.m-2.card.p-0.shadow
                          img.img-fluid.card-body.p-0(src='/images/robotics4.png')
                          h5 Community Chat for Help and Quizzes to Test Yourself
                          p.text-muted
                              i Engage with the community and test your comprehension.
                          a.btn.btn-primary(href="/users/communitychat") Chat


