doctype html
html
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Robot Academy

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' crossorigin='anonymous')

    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.3/css/all.css' integrity='sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk' crossorigin='anonymous')

  body
    nav.navbar.navbar-expand-lg.navbar-light.navbar-bg
      a.navbar-brand(href='/') 
        b Robot Academy 
        span#emailDisplayed
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        div#navLabSelect.m-auto.borderless-select.h4
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
            li.nav-item
              a#loginNavLink.nav-link(type="button") Login
            li.nav-item
              a#registerNavLink.nav-link(type="button") Register
            li.nav-item
              a#dashboardNavLink.nav-link(type="button") Dashboard
            li.nav-item
              a.nav-link(href="/users/course/0/0") Course
            li.nav-item
              a#logoutNavLink.nav-link(type="button") Logout
    script(src='/javascripts/labs.js')
    block content
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/javascripts/util.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
